Music/idfk/*.html
yt-dlp_linux
Tools.desktop
*.html

# fetched output links from bandcamp
Music/idfk/links.txt
Music/idfk/albums.txt
Music/BANDCAMP/tracks.txt
Music/BANDCAMP/albums.txt
Music/tracks.txt
Music/albums.txt
Misc/github_stars/.env

# html from websites
Misc/github_stars/test.txt
Music/BANDCAMP/Docker/config/
Music/BANDCAMP/src/music
Music/BANDCAMP/src/override_files

Music/BANDCAMP/src/music.zip
Music/BANDCAMP/src/__pycache__/
Music/BANDCAMP/Docker/src/
